* {
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro';
	
}
header {
	background-image: linear-gradient(#4d4d4d,#808080,#b3b3b3,#e6e6e6);
	font-size: large;
	animation: header 10s linear infinite alternate both;
	animation: header 10s linear infinite alternate both;


}
.navbar-collapse{
	justify-content: flex-end;
}
body{
	text-align: center;
}

a {
    text-decoration: none;
    color: #0077C8;

}
a:hover {
	color: #4d4d4d;
}
li {
	list-style: none;
	margin: 10px;
}  

.viñeta{
	list-style: circle;
	text-align: initial;
	
} 
.titulo__principal{
	color: #0e5487;
	font-size: 50px;
	text-shadow: 2px 1px #072e4a;
	
	
}
.titulo_servicios{
 	font-size: 40px;
 	color: #0e5487;
 	text-shadow: 2px 1px #072e4a;


}
.form-control{
	border-radius: 1.5rem ;
	margin: 10px;
}
button {
	margin: 25px;
	padding: 10px
}

footer {
	background-image: linear-gradient(#e6e6e6,#b3b3b3,#808080,#4d4d4d);
	padding-top: 5px;
	font-size: large;
	
}
.rrss{
	margin: 20px;
}

.main-principal{
	background-image: url(https://media.istockphoto.com/photos/in-the-hospital-closeup-shot-of-the-doctor-does-ultrasound-sonogram-picture-id996271208?b=1&k=20&m=996271208&s=170667a&w=0&h=B68a46sXGIXJ8HalP3s6MOjJbuLSrLbbTu0NPI3J9po=); 
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
   padding-top: 250px;
   padding-bottom: 5px;
   margin-top: 25px;
   margin-bottom: 25px;	
    width: 100%;	
    height: 350px;
}
@keyframes header {
  0% {
    background: #808080;
  }
  100% {
    background: #e6e6e6;
  }
}
@keyframes header {
  0% {
    background: #e6e6e6;
  }
  100% {
    background: #808080;
  }
}
.imagenes{ 
	
	background-image: url(https://media.istockphoto.com/photos/surgeon-and-anesthetist-doctor-er-surgical-team-with-medical-clinic-picture-id1072286960?k=20&m=1072286960&s=612x612&w=0&h=xy2hzymNd3UGCEPjKjY9pkBKA_2R_po1nhfC-e-KC60=);
		background-repeat: no-repeat;
  	background-size: 100% 100%;
    background-position: right;

}
.main-servicios{
  background-image: url(https://media.istockphoto.com/photos/ultrasound-medical-device-for-diagnostics-picture-id178438513?b=1&k=20&m=178438513&s=170667a&w=0&h=A8xlbktwwb1FWsGi6oJ8P0A67I14CeSSBXHYw3r-7jw=);
  background-position: center	;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: -webkit-right
}

.resultados{
	background-image: url(https://media.istockphoto.com/photos/accessible-information-is-crucial-for-current-medical-research-picture-id1287845968?b=1&k=20&m=1287845968&s=170667a&w=0&h=B3ucd3Y_G2SqLgz1wjKtEUY6brC0gRAx1bQUypz8nmc=) ;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: right;
	padding: 150px;
}

.parrafo-principal {
	color: black;
	display: flex;
	justify-content: center;
	font-size: 15px;
}



.imgstaff{
	margin: 25px;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.form-control{
	width: 40%;
	display: inline-flex;
}




/*mobile*/
@media only screen and (max-width: 320px){
	

header {
	font-size: small;

}
footer {
	font-size: small;
}

.titulo__principal{
	color: #0e5487;
	font-size: 35px;
	text-shadow: 2px 1px #072e4a;
	
	
}
.main-principal{
	padding-top: 175px;
	}
.subtitulo-index {
	font-size: 30px;
	color: #0e5487;
	text-shadow: 2px 1px #072e4a;
}
.texto-imagenes{
	font-size: 12px;
}
.staff{ 
   color: #0e5487;
	 font-size: 30px;
	 text-shadow: 2px 1px #072e4a;
	 
	justify-content: center;
	;
}
.rrss{
	margin: 10px;
}
.titulo_servicios{
 	font-size: 25px;

 }
.parrafo-servicios{
font-size: 15px;
}
.resultados{
	padding: 50px;
}

}



/*medium*/
@media only screen and (max-width: 600px) and (min-width: 320px){ 

header {
	font-size: small;

}
footer {
	font-size: small;
}

.video{
	width: 50%;
} 
.titulo__principal{
	color: #0e5487;
	font-size: 35px;
	text-shadow: 2px 1px #072e4a;
	
}
.texto-imagenes{
	font-size: 15px;
}
.main-principal{
	padding-top: 170px;
	}
.subtitulo-index {
	font-size: 35px;
	color: #0e5487;
	text-shadow: 2px 1px #072e4a;
}
.titulo_servicios{
 	font-size: 30px;

 }

.rrss{
	margin: 10px;
}

.staff{ 
   color: #0e5487;
	 font-size: 40px;
	 text-shadow: 2px 1px #072e4a;
	 
	justify-content: center;
	;
}
}
/* DESKTOP*/
@media only screen and (min-width: 992px) {
background-color: green; 

.titulo__principal{
	color: #0e5487;
	font-size: 50px;
	text-shadow: 2px 1px #072e4a;
	
	
}
.subtitulo-index {
	font-size: 40px;
	color: #0e5487;
	text-shadow: 2px 1px #072e4a;
}
.texto-imagenes{
	font-size: 28px;
}
.staff{ 
   color: #0e5487;
	 font-size: 50px;
	 text-shadow: 2px 1px #072e4a;
	 
	justify-content: center;
	;
}
.main-servicios{
  font-size: 29px;
}
    
}